@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    box-sizing: border-box;
    font-size: medium;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
button{
    background-color: transparent;
    border: 0.125rem dotted black;
    margin: 0.125rem;
    font-size: 1.25em;
}
button:hover,
button:focus-visible{
    background-color: #A4BAB7;
    border-style: solid;
    cursor: pointer;
}
body{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* MENU SECTION */
header{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height: 7%;
    padding-left: 1rem;
    color: #080F0F;
    background-color: #A4BAB7;
    font-size: 3em;
    font-weight: 700;
}
.headerBtnGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* MENU SECTION */

/* MENU SECTION */
main{
    display: flex;
    flex-direction: row;
    height: 84%;
    border: 0.25em solid black;
}
.menuBar{
    width: 15%;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    border-right: 0.25em solid black;
}
.menuBar>div:nth-child(1){
    height: 30%;
}
.menuBar>div:nth-child(2){
    border-top: 0.25em solid black;
    height: 70%;
}
.projectBtnsTitle,
.projectListTitle{
    border-bottom: 0.25rem solid black;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
}
.projectBtnsTitle{
    height: 20%;
}
.projectListTitle{
    height: 10%;
}
.menuBarBtns{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menuBarBtns>button{
    padding: min(15%, 0.25rem);
}
.projectList{
    height: 80%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: auto;
}
.project{
    min-height: 1.5em;
    font-size: 1.25em;
    padding: 0.25rem;
    margin: 0.25rem;
    text-align: center;
    border: 0.25em dotted black;
    font-size: 1.5em;
}
.project:hover{
    background-color: #A4BAB7;
    cursor: pointer;
}
/* MENU SECTION */

/* CONTENT SECTION */
.content{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.projectTitleBar{
    height: 10%;
    border-bottom: 0.25rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.taskPanel{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.task{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 1.5rem;
    font-size: 1.5em;
    width: 99%;
    margin: 0.25rem;
    padding: 0.125rem;
    border: 0.25em dotted black;
}
.task:hover{
    background-color: #A4BAB7;
    cursor: pointer;
}
.task[data-done=true]{
    border-color: red;
    text-decoration: line-through;
}
.task[data-done=false]{
    border-color: green;
}
.taskDisplay{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 0.25em solid black;
}
.displayTaskHeader{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.displayTaskTitle{
    width: 50%;
    border-inline: 0.25rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.displayTaskDetails{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    font-size: 1.5em;
}
.displayTaskDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    text-align: left;
    border: 0.25rem solid black;
    border-left: none;
}
.taskDescriptionBox{
    width: 49%;
    border-right: 0.25rem solid black;
    padding-left: 1rem;
    font-size: 1.5rem;
}
.taskDescriptionCheckbox{
    width: 49%;
    font-size: 1.5rem;
}
.displayTaskStats{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    border-block: 0.25rem solid black;
}
.displayTaskStats>div{
    display: flex;
    flex-direction: row;
    height: 15%;
    align-items: center;
    border-block: 0.125rem dotted black;
}
.displayTaskStats>div>div:nth-child(1){
    width: 25%;
    font-size: 1.25rem;
}
.displayTaskStats>div>div:nth-child(2){
    width: 75%;
    font-size: 1.5rem;
}
.toggleDoneBtn{
    margin: 0rem;
    height: 10%;
    width: 100%;
    cursor: pointer;
    border:none;
}
.toggleDoneBtn:hover,
.toggleDoneBtn:focus-visible{
    background-color: initial;
    border:none;
}
.toggleDoneBtn[data-status=true]{
    background-color: red;
    color: white;
}
.toggleDoneBtn[data-status=false]{
    background-color: green;
    color: white;
}
.active{
    background-color: #A4BAB7;
    border-style: solid;
}
/* CONTENT SECTION */

/* FORM SECTION */
.cover{
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.5);
}
.modalBox{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    border : 0.25em solid black;
}
.taskFormModal.modalBox{
    height: 60%;
}
.projectFormModal.modalBox{
    height: 40%;
}
legend{
    font-size: 2.5rem;
    font-weight: bolder;
    background-color: white;
    border: 0.125em solid black;
}
.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    padding-bottom: 0.25em;
}
.taskFormModal>.form-group{
    height: 80%;
}
.projectFormModal>.form-group{
    height: 25%;
    font-size: 1.75rem;
}
.form-item{
    min-height: 2em;
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    border: 0.125em solid black;
    border-radius: 5px;
    padding: 0.125em 0;
}
.taskFormModal>.form-group>.form-item:last-child{
    width: 50%;
    margin-inline: auto;
}
label{
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    width: 25%;
}
input,textarea,select{
    width:75%;
    border: none;
    font-size: 1.25em;
    background-color: transparent;
}
input[type='checkbox']{
    height: 70%;
    margin-block: auto;
}

.SubmitCancel{
    min-height: 3em;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
}
.SubmitCancel>button{
    width:45%;
    font-size: 2em;
    cursor: pointer;
    color: black;
    border: 0.125em solid black;
}
.Submit{
    background-color: #2196F3;
}
.Cancel{
    background-color: #ccc;
}
.Submit:hover,
.Submit:focus-visible
{
    background-color: #2196F3;
}
.Cancel:hover,
.Cancel:focus-visible{
    background-color: #ccc;
}
.hide{
    display: none;
}
/* FORM SECTION */

/* FOOTER SECTION */
footer{
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 0.25rem;
    background-color: #A4BAB7;
}
footer>p{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #080F0F;
    padding-left: 10%;
}
footer>a{
    padding-inline: 1rem;
}
.GithubIcon{
    width: 100%;
    height:100%;
    content: url("../Img/GitHub-Mark-120px-plus.png");
}
/* FOOTER SECTION */