/*General Section*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root{
    box-sizing: border-box;
    font-size: medium;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    --color-primary: 258, 86%, 53%;
    --color-primary-heavy: 258, 86%, 25%;
    --color-primary-light: 258, 86%, 90%;
    --color-secondary: 0, 0%, 100%;

    --color-border-primary: 0, 0%, 0%;
    --color-border-secondary:258, 86%, 53%;

    --color-text-primary: 0, 0%, 0%;
    --color-text-secondary: 0, 0%, 100%;

    --color-active: 120, 86%, 25%;
    --color-completed: 0, 86%, 50%;

    --color-input-bg: 0, 0%, 100%;
    --color-input-text: 0, 0%, 0%;
}
body{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: hsl(var(--color-text-primary));
}
.dark-mode{
    --color-primary: 0, 0%, 21%;
    --color-primary-heavy: 0, 0%, 28%;
    --color-primary-light: 0, 0%, 14%;
    --color-secondary: 0, 0%, 7%;

    --color-border-primary: 0, 0%, 0%;
    --color-border-secondary:258, 86%, 23%;

    --color-text-primary: 0, 0%, 84%;
    --color-text-secondary: 0, 0%, 100%;

    --color-active: 120, 86%, 25%;
    --color-completed: 0, 86%, 50%;

    --color-input-bg: 0, 0%, 21%;
    --color-input-text: 0, 0%, 84%;
}
button{
    margin: 0.125rem;
    font-size: 1em;
    color: hsl(var(--color-text-primary));
    background-color: transparent;
    border: 0.125rem dotted hsl(var(--color-primary));
}
button:hover,
button:focus-visible{
    cursor: pointer;
    border-style: solid;
    background-color: hsl(var(--color-primary-light));
}
/*General Section*/

/* Header SECTION */
header{
    height: 7%;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(var(--color-primary));
}
h1{
    font-size: 2em;
    font-weight: 700;
    color: hsl(var(--color-text-secondary));
}

/*Credit: https://codepen.io/havardob/full/MWawKVy */
.darkModeBtnGroup{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
    transform: scale(0.5);
}
.darkModeBtnGroup>label {
	position: relative;
	width: 180px;
	height: 100px;
	display: block;
	overflow: hidden;
	cursor: pointer;
	border-radius: 100px;
	background-color: hsl(var(--color-primary-heavy));
}
.darkModeBtnGroup>label::before,
.darkModeBtnGroup>label::after {
    content: "";		
    position: absolute;
    top: 14px;
    left: 14px;
    display: block;
    width: 72px;
    height: 72px;
    transition: .5s ease;
    border-radius: 50%;
}
.darkModeBtnGroup>label::before {
    background-color: hsl(36, 100%, 55%);

}
.darkModeBtnGroup>label::after {
    left: -58px;
    transform: scale(0.00001);
}
.darkModeBtnGroup>input {
	display: none;
}
.darkModeBtnGroup>input:checked + label::before {
    transform: translateX(80px);
    background-color: hsl(0, 0%, 100%);
}
.darkModeBtnGroup>input:checked + label::after {
    transform: translateX(125px) translateY(-20px) scale(1);
    background-color: hsl(var(--color-primary-heavy));
}
/* Header SECTION */

/* MENU SECTION */
main{
    display: flex;
    flex-direction: row;
    height: 84%;
    color: hsl(var(--color-text-primary));
    background-color: hsl(var(--color-secondary));
    border: 0.25em solid hsl(var(--color-border-primary));
}
.menuBar{
    display: flex;
    flex-direction: column;
    width: 15%;
    border-right: 0.25em solid hsl(var(--color-border-primary));
}
.menuBar>div:nth-child(1){
    height: 30%;
}
.menuBar>div:nth-child(2){
    height: 70%;
    border-top: 0.25em solid hsl(var(--color-border-primary));
}
.projectBtnsTitle,
.projectListTitle{
    width: 70%;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 0.25rem solid hsl(var(--color-border-primary));
}
.projectBtnsTitle{
    height: 20%;
}
.projectListTitle{
    height: 10%;
}
.menuBarBtns{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(var(--color-secondary));
}
.menuBarBtns>button{
    padding: min(15%, 0.25rem);
}
.projectList{
    height: 85%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow: auto;
    background-color: hsl(var(--color-secondary));
}
.project{
    min-height: 1.5em;
    padding: 0.25rem;
    margin: 0.25rem;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25em dotted hsl(var(--color-border-secondary));
}
.project:hover{
    cursor: pointer;
    border-style: solid;
    background-color: hsl(var(--color-primary-light));
}
/* MENU SECTION */

/* CONTENT SECTION */
.content{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.projectTitleBar{
    height: 10%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.25rem solid hsl(var(--color-border-primary));
}
.taskPanel{
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.task{
    min-height: 1.5rem;
    width: 99%;
    margin: 0.25rem;
    padding: 0.125rem;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0.25em dotted hsl(var(--color-border-secondary));
}
.task:hover{
    cursor: pointer;
    border-style: solid;
    background-color: hsl(var(--color-primary-light));
}
.task[data-done=true]{
    text-decoration: line-through;
    border-color:  hsl(var(--color-completed));
}
.task[data-done=false]{
    border-color: hsl(var(--color-active));
}
.taskDisplay{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 0.25em solid hsl(var(--color-border-primary));
}
.displayTaskHeader{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.displayTaskTitle{
    width: 50%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--color-primary-light));
    border-inline: 0.25rem dotted hsl(var(--color-border-secondary));
}
.displayTaskDetails{
    height: 80%;
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
}
.displayTaskDescription{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    border-block: 0.25rem solid hsl(var(--color-border-primary));
}
.taskDescriptionBox{
    width: 49%;
    padding-left: 1rem;
    font-size: 1rem;
    border-right: 0.25rem dotted hsl(var(--color-border-secondary));
}
.taskDescriptionCheckbox{
    width: 49%;
    font-size: 1rem;
}
.displayTaskStats{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-block: 0.25rem solid hsl(var(--color-border-primary));
    border-left: 0.25rem dotted  hsl(var(--color-border-secondary));
}
.displayTaskStats>div{
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(var(--color-primary-light));
    border-block: 0.125rem dotted hsl(var(--color-border-secondary));
}
.displayTaskStats>div>div:nth-child(1){
    width: 30%;
    font-size: 0.9rem;
    font-weight: bold;
}
.displayTaskStats>div>div:nth-child(2){
    width: 70%;
    font-size: 1rem;
}
.toggleDoneBtn{
    height: 10%;
    width: 100%;
    margin: 0rem;
    cursor: pointer;
    border:none;
}
.toggleDoneBtn[data-status=true]{
    color: hsl(var(--color-text-secondary));
    background-color: hsl(var(--color-completed));
}
.toggleDoneBtn[data-status=false]{
    color: hsl(var(--color-text-secondary));
    background-color: hsl(var(--color-active));
}
.toggleDoneBtn[data-status=true]:hover,
.toggleDoneBtn[data-status=true]:focus-visible{
    font-weight: bold;
    color: hsl(var(--color-completed));
    background-color: hsl(var(--color-primary-light));
    border: none;
}
.toggleDoneBtn[data-status=false]:hover,
.toggleDoneBtn[data-status=false]:focus-visible{
    font-weight: bold;
    background-color: hsl(var(--color-primary-light));
    color: hsl(var(--color-active));
    border: none;
}
.active{
    background-color: hsl(var(--color-primary-light));
    border-style: solid;
}
/* CONTENT SECTION */

/* FORM SECTION */
.cover{
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 50%, 0.5);
}
.modalBox{
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: hsl(var(--color-primary-light));
    border : 0.25em solid hsl(var(--color-border-primary));
}
.taskFormModal.modalBox{
    height: 60%;
}
.projectFormModal.modalBox{
    height: 40%;
}
legend{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem;
    color: hsl(var(--color-text-secondary));
    background-color: hsl(var(--color-primary));
    border: 0.125em solid hsl(var(--color-border-primary));
}
.form-group{
    width: 100%;
    padding-bottom: 0.25em;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}
.taskFormModal>.form-group{
    height: 80%;
}
.projectFormModal>.form-group{
    height: 25%;
    font-size: 1.25rem;
}
.form-item{
    min-height: 1.5em;
    height: 20%;
    width: 100%;
    padding: 0.125em 0;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    background-color: hsl(var(--color-primary-light));
    border: 0.125em solid hsl(var(--color-border-primary));
    border-radius: 5px;
}
.form-item:last-child{
    background-color: hsl(var(--color-primary-light));
}
.taskFormModal>.form-group>.form-item:last-child{
    width: 50%;
    margin-inline: auto;
}
label{
    width: 25%;
    font-size: 1em;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: hsl(var(--color-primary-light));
}
input,textarea,select{
    width:75%;
    font-size: 1em;
    color: hsl(var(--color-input-text));
    background-color: hsl(var(--color-input-bg));
    border: none;
}
input[type='checkbox']{
    height: 70%;
    margin-block: auto;
}
.SubmitCancel{
    min-height: 2em;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    align-items: center;
}
.SubmitCancel>button{
    width:45%;
    padding: 0.5rem;
    font-size: 1.5em;
    cursor: pointer;
    border: 0.125em solid hsl(var(--color-border-primary));
}
.Submit{
    color: hsl(var(--color-text-secondary));
    background-color: hsl(var(--color-primary-heavy));
}
.Cancel{
    color: hsl(var(--color-text-primary));
    background-color: hsl(var(--color-primary-light));
}
.Submit:hover,
.Submit:focus-visible,
.Cancel:hover,
.Cancel:focus-visible{
    color: hsl(var(--color-text-secondary));
    background-color: hsl(var(--color-primary));
}

.hide{
    display: none;
}
/* FORM SECTION */

/* FOOTER SECTION */
footer{
    height: 7%;
    width: 100%;
    padding-block: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  hsl(var(--color-primary));
}
footer>p{
    width: 75%;
    padding-left: 10%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:  hsl(var(--color-text-secondary));
}
footer>a{
    padding-inline: 1rem;
}
.GithubIcon{
    width: 100%;
    height:100%;
    content: url("../Img/GitHub-Mark-Light-120px-plus.png");
}
/* FOOTER SECTION */